<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>Welcome to Hyderabad</h1>
    <h1>Welcome to Alwal</h1>
    <h2>Hi baby</h2>
    <h3>You can visit any places in Hyderabad</h3>
    <ol>
        {% for place in places%}
        <li>{{place}}</li>
        {%end for%}
    </ol>

</body>
</html>
